/* Start of about title section */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.about-intro {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    
}

.about-text {
    display: inline-block;
    width: 42%;
    margin: 10px;
    text-align: left;
}

.about-image {
    display: inline-block;
    width: 42%;
    margin: 10px;
    text-align: center;
}

.about-text h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50;
}

.about-image img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .about-text, .about-image {
        display: block;
        width: 90%;
        margin: auto;
    }

    .about-image img {
        width: 350px;
    }
}

/* Style for Our Team Section */
.team-container {
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
}

.title {
    color: blue;
    font-weight: bolder;
    font-size: 50px;
}

.team-card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;
}

.team-card:hover {
    box-shadow: 0 6px 4px 0 rgb(0,0,0,0.4);
    border-radius: 8px;
}

.team-card img {
    width: 250px;
    height: 200px;
}

.team-card h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.team-card h3 {
    color: blue;
}

@media (max-width: 600px) {
    .team-container {
        width: 90%;
    }
    .team-card {
        display: block;
        width: 80%;
        margin: 0 auto 30px auto;
        box-shadow: 0 6px 4px 0 rgb(0,0,0,0.4);
        padding: 10px;
        border-radius: 8px;
    }

    .team-card:hover {
        background-color: #eee;
    }
}