/* Style for the hero section */
.hero-start {
    background-color: grey;
    height: 300px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.hero-text {
    display: inline-block;
    width: 40%;
    color: white;
    margin-left: 30px;
}

.text-1 {
    color: blue;
    font-size: 50px;
    margin-top: 0px;
}

.name {
    color: greenyellow;
}

.hero-image {
    display: inline-block;
    width: 45%;
    margin-left: 30px;
}

.hero-image img {
    width: 600px;
    height: 280px;
}

.hero-btn {
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.hero-btn:hover {
    background-color: deeppink;
    border: 1px solid white;
}

@media (max-width: 600px) {
    .hero-start {
        padding-left: 0;
        padding-bottom: 0;
    }

    .hero-text {
        width: 90%;
        margin-left: 30px;
    }

    .hero-image {
        display: none;
    }
}